.taskDataHeader{
  display: flex;
  justify-content: space-between;
  input , button{
    border-radius: 10px;
    margin-left: 10px;
  }
  button{
    color: white;
    background-color: #f5bf42;
    border: none;
  }
}
.add-button {
  border-radius: 50px;
  height: 80px;
  width: 80px
}

.button {
  position: fixed;
  bottom: 10px;
  right: 15px;
}


.title {
  padding: 10px;
  width: 300px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 10px;
}

.description {
  padding: 10px;
  margin-top: 10px;
  height: 50px;
  display: flex;
  width: 300px;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 10px;
}

.third {
  margin-top: 20px;
  display: flex;
  gap: 40px;

  select{
    border-radius: 10px;
  }

}

.main {
  font-size: medium;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: #939393B3;
}

.main-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(15, 15, 15);
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

.modalbutton {
  height: 30px;
  width: 60px;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
  float: right;

}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

th,
td {
  border: 1px solid #ccc;

  padding: 10px;
}

th {
  background-color: #f4f4f4;
}

.actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions button.edit {
  background-color: #007BFF;
  color: #fff;
  margin-top: 2px;
}

.actions button.delete {
  background-color: #dc3545;
  color: #fff;
  margin-left: 3px;
}

.actions button.open {
  background-color: #dc3545;
  color: #fff;
  margin-left: 3px;

}

.actions button.view {
  background-color: #dc3545;
  color: #fff;
  margin-left: 3px;

}

.actions button.done {
  background-color: #f5bf42;
  color: #fff;
  margin-left: 3px;

}


.arrow {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.up-arrow {
  margin-left: auto;
}

.up-arrow:active {
  transform: translateY(-2px);
}

.down-arrow {
  margin-left: 6px;
}

.down-arrow:active {
  transform: translateY(2px);
}

.done-row {
  background-color: lightgreen;
}

#all-task,#pending-task,#completed-task{
  width: 100px;
  padding: 10px 20px;
}

.tabs button {
  margin: 0 5px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
  cursor: pointer;
}

.tabs button.active {
  background: #007bff;
  color: white;
}

.done-row {
  background: lightgreen;
}

span[style] {
  background-color: yellow;
  font-weight: bold;
}

.add-button{
  background: unset;
  border: none;
}

.flex{
  display: flex;
  justify-content: space-between;
}
.date-filter{
  font-family: sans-serif;
  font-weight: 700;
}
.datefilter{
  padding: 5px;
}